@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: #f4f3f5;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #4e5564;
}

h1, h2, h3, h4 {
    padding: 5px 0px;
}

ul, ol {
    padding: 5px 20px;
}


.card {
    border: 1px #000 solid;
    margin: 5px 0 15px 0;
    border-radius: 5px;
    padding: 10px;
}

.text {
    background-color: #ffe96e;
}

.text p {
    font-family: 14px;
    color: #b4731e;
    padding-bottom: 15px;
}

.text img {
    width: 200px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

.list {
    background-color: #e76b72;
}

.table {
    background-color: #6aa1788f;
}

.flex-list {
    display: flex;
}

.table table {
    background-color: #f4f3f5;
    padding: 5px;
    width: 50%;
    height: 100px;
}

.table table thead {
    background-color: #e76b72;
}

.table table tbody {
    background-color: beige;
}

.table table tbody tr:nth-child(2) {
    font-weight: 700;
    font-size: 18px;
}







/* Contact Me */

.contact {
    background-color: #fff;
    margin-bottom: 5px;
    color: #000;
}

.contact h3 {
    text-align: center;
    font-size: 25px;
    padding: 20px 0;
}

.form {
    margin-top: 20px;
}

.flex {
    display: flex;
    margin-bottom: 20px;
}

.form-name {
    width: 100%;
    margin: 0 10px;
}

.form-email {
    width: 100%;
    margin: 0 10px;
}

.form-name label {
    display: block;
    padding-bottom: 5px;
}

.form-name input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}

.form-email label {
    display: block;
    padding-bottom: 5px;
}

.form-email input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}

.form-area label {
    display: block;
    padding-bottom: 5px;

}

.form-area textarea {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}

.form-area {
    margin: 0 10px;
}

::placeholder {
    font-family: Roboto, sans-serif;
}

.btn {
    margin: 10px;
    background-color: #e76b72;
    width: 90px;
    height: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

.btn:hover {
    background-color: #b1383e;
}




/* Media */

@media (max-width: 650px) {
    .flex-list {
        flex-direction: column;
    }
}