@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;

    background: aliceblue;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #cbffe1;
}





/* Header */

.header {
    padding: 10px 0;

    background-color: aquamarine;
}

.header-title {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
    text-align: center;
}

.header-text {
    margin: 0;

    font-size: 16px;
    font-weight: 700;
    text-align: center;
}



/* Nav */

.nav {
    text-align: center;
    background-color: beige;
    font-size: 0;
}

.nav-link {
    display: inline-block;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.nav-active {
    background-color: rgb(219, 200, 175);
}

.nav-link:hover {
    background-color: rgb(219, 200, 175);
}





/* Content */

.content {
    margin-bottom: 25px;
    padding: 0 10px;
}

.content-title {
    font-size: 22px;
    color: #03898d;
    margin: 10px 0;
}

.content-text {
    margin: 5px 0 10px;
}

.content-link {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 15px;
    background-color: #806363;
    border-radius: 4px;
}

.content-link:hover {
    background-color: #585151;
}




/* News */

.news {
    margin-bottom: 25px;
    padding: 0 10px;
}

.news span {
    font-weight: 700;
}

.news-text {
    margin: 10px 0;

    background-color: rgb(255, 208, 191);
}

.news-text--orange {
    color: orange;
}







/* Form */

.form {
    margin: 20px auto;
    padding: 20px;
    width: 380px;

    background-color: rgb(225, 225, 238, 0.4);
    color: #806363;
    border: 1px solid #000000;
}

.form-title {
    font-size: 18px;
}

.form-sex {
    margin-bottom: 20px;
}

.form-name {
    width: 60%;
    box-sizing: border-box;
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    font-family: inherit;
    outline: none;
}

.form-email {
    width: 60%;
    box-sizing: border-box;
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    font-family: inherit;
    outline: none;
}

.form-message {
    width: 60%;
    height:150px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
    font-family: inherit;
    padding: 5px;
    outline: none;
}

.form-quastion {
    width: 60%;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 20px;
}

.form-group--info {
    margin-bottom: 20px;
}

.form-send {
    margin: 0;
}

.btn {
    background-color: rgb(69, 220, 10, .7);
    border: none;
    padding: 10px 20px;
    font-weight: 700;
}

.btn--grey {
   background-color: rgb(178, 178, 178, .7);
}

.btn:hover {
    background-color: rgb(69, 220, 10);
}

.btn--grey:hover {
    background-color: rgb(178, 178, 178);
}






/* Table */

.table {
    margin: 40px auto;
    border: 1px solid red;
    border-collapse: collapse;;
    background: url('../img/bg.jpeg') no-repeat right top;
}

.table th {
    padding: 3px 7px;
    border: 1px solid red;
}

.table td {
    padding: 3px 7px;
    border: 1px solid red;
}


/* List */

.list {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.list ul li {

    list-style-type: square;
}

.list ol li {
    list-style-type: upper-latin;
}

/* Footer */

.footer {
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    font-style: italic;
}